@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <form action="Home/Login" method="POST">
        <label id="username">Username</label>
        <input name="username" id="username" type="text">
        <br/>
        <label id="password">Password</label>
        <input name="password" id="password" type="password">
        <br/>
        <label id="password">Re-Enter Password</label>
        <input name="reEnter" id="reEnter" type="password">
        <br/>
        <input name="submit" type="submit">
        
    </form>
</div>

